.ham{
	width: 30px;
	height: 30px;
	overflow: hidden;
	cursor: pointer;
	transition: 0.1s;
}

.ham > span{
	height: 2px;
	background: black;
	display: block;
	margin-bottom: 5px;
	transition: 0.1s
}

.ham > span:nth-child(1){
	width: 70%;
	margin-left: 30%;
}

.ham > span:nth-child(2){
	width: 100%;
}

.ham > span:nth-child(3){
	width: 85%;
	margin-left: 15%;
}

.ham:hover > span{
	width: 100%;
	margin-left: 0
}

.absolutes{
	position: fixed;
	z-index: 10
}

.absolutes > .a-item{
	margin: 20px;
}

.absolutes > .top{
	position: fixed;
	transform: rotate(180deg);
    text-align: center;
	right: 0;
	bottom: 0;
	cursor: pointer;
}

.absolutes > .ham{
	position: fixed;
	right: 0;
}

.absolutes > .s-menu{
	position: fixed;
	width: 60px;
	height: 100%;
}

.logo{
	color: black;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.nav > ul {
	list-style: none;
	padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.nav > ul > li a{
	color: #212529
}

.nav > ul > li{
	margin-bottom: 20px;
}

.nav > ul > li:nth-child(1){
	margin-bottom: 23px;
}

.section-container{
	padding: 0 65px;
}

a:hover{
	text-decoration: none;
}

.fs-18{
	font-size: 18px;
}

h1{
	font-size: 120px;
    font-weight: bold;
    padding-top: 220px;
    margin-bottom: 300px;
    transition: 0.5s;
    white-space: nowrap;
    position: relative;
}

h1 > span{
	position: absolute;
    left: 0;
    margin-top: 115px;
    font-size: 50px;
    font-weight: 100;
    transition: 0.5s;
    margin-left: 16px;
}

.me-bg{
	/*background: url(./me.png);*/
    background-repeat: no-repeat;
    background-position: 90% 0;
    background-size: 550px;
    -webkit-filter: grayscale(45%);
    filter: gray;
    text-shadow: 0 0 1px #ffffff59;
}
.me-bg > .bordered{
    border-bottom: 1px solid #d2d2d26b;
}

.hey-text{
	color: #868686;
    font-weight: 600;
    font-size: 14px;
}

.card{
	border: none;
}

footer{
	background: #F2F0F0;
    padding: 60px 0;
    width: 100%;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;
    padding: 10px 0px;
}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #929796;
    background-color: #e6e6e6;
    border-radius: 2px;
    overflow: hidden;
}

.grid-item > a > h3{
	font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: #3e4750;
}

.grid-item > a > p{
	text-transform: none;
    font-weight: 400;
    color: rgba(31, 31, 31, 0.69);
    font-size: 12px;
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 3;
}

@media(max-width: 768px){
	h1{
		font-size: 60px;
	}

	h1 > span{
	    margin-top: 60px;
    	font-size: 30px;
    	margin-left: 0px;
	}

	.span-3,
	.span-2 {
	    grid-column-end: span 1;
	    grid-row-end: span 1;
	}
}

@media(max-width: 460px){
	h1{
		font-size: 37px;
	}

	h1 > span{
	    margin-top: 39px;
    	font-size: 22px;
	}
}